h1{
    color:#ffeeee;
    font-family: 'Times New Roman', Times, serif;
    margin-left:30%;
    margin-top:auto;
}

h2{
    color:#ffeeee;
    font-family: 'Times New Roman', Times, serif;
    margin-left:30%;
    margin-top:auto;
}

p{
    color:#ffeeee;
    font-family: 'Times New Roman', Times, serif;
    padding-top:5px;
    padding-left:5px;
}

a{
    color:#ffeeee;
    text-decoration:none;
}

.credits{
    color:black;
    text-align:center;
    padding:center;
    width:75%;
}

.startscreen{
    background: url(assets/Start.jpg) center fixed no-repeat;
}

.credits{
    background: url(assets/Credits.jpg) center fixed no-repeat;
}

.paths{
    background: url(assets/Paths.jpg) center fixed no-repeat;
}

.leftpath{
    background: url(assets/LeftPath.jpg) center fixed no-repeat;
}

.rightpath{
    background: url(assets/RightPath.jpg) center fixed no-repeat;
}

.turnaround{
    background: url(assets/TurnAround.jpg) center fixed no-repeat;
}

.closeup{
    background: url(assets/CloseUp.jpg) center fixed no-repeat;
}

.church{
    background: url(assets/Church.jpg) center fixed no-repeat;
}

.churchgrim{
    background: url(assets/ChurchGrim.jpg) center fixed no-repeat;
}

.dog{
    background: url(assets/Dog.jpg) center fixed no-repeat;
}

.goodpupper{
    background: url(assets/GoodPupper.jpg) center fixed no-repeat;
}

#myDiv {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}