h1{
    color:#ffeeee;
    font-family: 'Times New Roman', Times, serif;
    margin-left:30%;
    margin-top:auto;
}

h2{
    color:#ffeeee;
    font-family: 'Times New Roman', Times, serif;
    margin-left:30%;
    margin-top:auto;
}

p{
    color:#ffeeee;
    font-family: 'Times New Roman', Times, serif;
    padding-left:30px;
    padding-top:30px;
}

a{
    color:#ffeeee;
    text-decoration:none;
}

.credits{
    color:black;
    text-align:center;
    margin:auto;
    width:75%;
}

.startscreen{
    background: url(assets/Start.jpg) center fixed no-repeat;
}

.credits{
    background: url(assets/Credits.jpg) center fixed no-repeat;
}

.paths{
    background: url(assets/Paths.jpg) center fixed no-repeat;
}

.leftpath{
    background: url(assets/LeftPath.jpg) center fixed no-repeat;
}

.rightpath{
    background: url(assets/RightPath.jpg) center fixed no-repeat;
}

.turnaround{
    background: url(assets/TurnAround.jpg) center fixed no-repeat;
}

.closeup{
    background: url(assets/CloseUp.jpg) center fixed no-repeat;
}

.church{
    background: url(assets/Church.jpg) center fixed no-repeat;
}

.churchgrim{
    background: url(assets/ChurchGrim.jpg) center fixed no-repeat;
}

.dog{
    background: url(assets/Dog.jpg) center fixed no-repeat;
}

.goodpupper{
    background: url(assets/GoodPupper.jpg) center fixed no-repeat;
}